@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #373636;
    font-size: 13px;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: medium;
    }

    .home-class {
        width: 100%;
        height: 100%;
    }

    .main-content {
        display: flex;
        margin: 5em 0;
        padding: 2em;
    }

    .main-width-adjust {
        max-width: 1024px;
        margin: 0 auto !important;
    }

    mark {
        line-height: 0em !important;
    }


    .authentication {
        float: right;
    }

    .profile {
        max-width: 15% !important;
        position: absolute;
        top: auto;
    }

    .about-me-desc {
        flex: 2;
        margin: 5em 5em 5em 10em !important;
        padding: 2em 3em 2em 3em !important;
    }

    .about-main {
        display: flex;
    }

    /* Product page */
    .main-section section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .project-desc {
        width: 25% !important;
    }

    .project-desc p {
        font-size: 14px;
    }


}

.main-width-adjust {
    margin: auto 1em;
}


h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 37px;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    text-align-last: left;
    line-height: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-block-item ol li {
    font-size: 13px;
}

.nav-block-item a {
    font-size: 13px;
}

a {
    text-transform: none;
    text-decoration: none;
    color: #373636;
    font-weight: 600;

}

.indicator_1 {
    width: fit-content;
    margin: 0 10px 0 0;
    border-bottom: 2px solid black;
}

.nav-block-item {
    border: 1px solid black;
    padding: 5px;
}

.nav-block-item h4 {
    border-bottom: 2px solid black;
    width: fit-content;
    padding: 5px 0;
}

.nav-homepage {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    grid-gap: 16px;
    flex: 1.2;
}

.nav-block-item section {
    text-align: end;
    margin: 5px;
}

.intro-homepage {
    flex: 0.8;
    background-image: url(https://hervnzig.github.io/personal-portfolio/assets/Profile.PNG);
    background-position: right;
    background-size: cover;
    text-align: right;
}

.intro-homepage ul {
    margin: 10em 0 0 2em;
    background: white;
    padding: 5px;
}

.intro-homepage .item-pic {
    width: 100%;
}

.intro-homepage section {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 5px;
}

.socials div a {
    margin: 5px;
}



.free-quote {
    text-align: center;
    padding: 1em;
    font-weight: bolder;
}

mark {
    display: inline-block;
    padding-bottom: 0.6em;
    background-color: #ece8ea;
}

/* --- About page --- */
nav {
    background-color: #F5F5F7;
    overflow: hidden;
}


/* ====== Nav bar ====== */

.nav {
    height: 50px;
    width: 100%;

    position: relative;
}

.nav>.nav-header {
    display: inline-block;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    color: #fff;
}

nav {
    background-color: #F5F5F7;
}


.main-width-adjust {
    max-width: 1024px;
    margin: 0 auto !important;
}

.nav-title h1 a {
    text-decoration: none;
    color: #373636;
    padding: 2px;
    display: flex;
}

.nav-title h1 {
    margin: 0;
    border-bottom: #373636;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline-block;
    float: right;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #373636;
    border-bottom: 3px solid transparent;
    font-weight: 100;
}

.nav>.nav-links>a:hover {
    border-bottom-color: black;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover {
        background-color: rgb(181 178 178 / 30%);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #373636;
    }

    .nav>.nav-links {
        /* position: absolute; */
        display: block;
        width: 100%;
        background-color: #e2e1e2;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)+.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked+.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav>.nav-links>a:hover {
        background: rgb(181 178 178 / 30%);
        border-bottom: 3px solid transparent;
    }

    .nav-title h1 a {
        padding: 2px 13px;
    }
}

/* ===== Navigation ===== */

h2 {
    text-align: center;
    align-items: center;
}

.profile {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 45%;
}

.about-connect a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me-desc {
    background: #EFEAEA;
    margin: -2em 0em 2em 2em;
    padding: 12px;
}

.about-me-desc p {
    padding: 1em;
}





/* Footer design */
.footer-parent {
    background-color: #F5F5F7;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-parent .footer-left,
.footer-parent .footer-center,
.footer-parent .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-parent .footer-left {
    width: 40%;
}

.footer-parent .footer-company-name {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-parent .footer-center {
    width: 35%;
}

.newsletter {
    padding: 10px 0;
    color: #fff;
}

.newsletter p {
    text-align: center;
    line-height: 34px;
}

.newsletter-box {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}


.newsletter .newsletter-box button {
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    background: black;
    height: 40px;
    border-left: white;
    border-top: white;
    border-bottom: white;
    width: fit-content;
}




.footer-parent .footer-center p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer-parent .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}


.footer-parent .footer-right {
    width: 20%;
}

.footer-parent .footer-company-about {
    line-height: 20px;
    font-weight: normal;
    margin: 0;
}

.footer-parent .footer-company-about span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-parent .footer-form {
    margin-top: 25px;
}

.footer-parent .footer-form a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-parent .footer-left,
    .footer-parent .footer-center,
    .footer-parent .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

}

/* projects page */

.project-item {
    display: flex;
    margin: 1em 0;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.project-pic {
    width: 100%;
}

.item-pic {
    width: 65%;
    border: 4px solid #3f424000;
    border-radius: 2px;
    box-shadow: -1px 1px 11px 0px rgb(140 137 137 / 32%);
}


.project-desc {
    background: white;
    border-right: 3px solid #3f424073;
    border-top: 3px solid #3f424073;
    border-bottom: 3px solid #3f424073;
    margin: 10px 10px 10px -20px;
    padding: 10px;
    width: 50%;
}

.project-desc a {
    text-decoration: underline;
    text-transform: lowercase;
}

.main-section h3 {
    border-top: 3px solid #a8aaa9;
    border-bottom: 3px solid #a8aaa9;
    padding: 5px 20px;
    text-align: center;
    max-width: 200px;
    margin: 1em auto;
    min-width: 50px;
}

/* Resume page */
.box-resume {
    box-shadow: -1px 1px 11px 0px rgb(140 137 137 / 12%);
    padding: 10px;
    border-right: 4px solid #e8e8e8c4;
    border-left: 4px solid #e8e8e8c4;
    margin: 2em;
}

.box-resume div h4 {
    border-bottom: 2px solid;
    max-width: 200px;
    margin: 1em auto;
    text-align: center;
    padding: 8px;
}

/* === Client Blogs-list page === */
.blog-item {
    display: flex;
    margin: 1em 0;
    flex: 1;
}

.blog-item .date {
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.blog-item .author {
    font-weight: bold;
}

.blog-item img {
    width: 55%;
    border: 4px solid #3f424000;
    border-radius: 2px;
    box-shadow: -1px 1px 11px 0px rgb(140 137 137 / 32%);
}

.blog-item div {
    background: white;
    margin: 10px 10px 10px -20px;
    padding: 10px;
    width: 45%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.18);
}

.blog-item a {
    float: right;
    padding: 10px;
    background: black;
    color: white;
}

.blog-item .hash-tag {
    float: none;
    background-color: #eaeaea;
    color: #000000;
    padding: 2px 8px;
    display: block;
    margin: 5px 0;
    width: fit-content;
}

.blog-item h4 {
    border-bottom: 2px solid #373636;
    width: fit-content;
    padding: 10px 0;
}

.blog-item div p {
    padding: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
    .blog-item {
        display: block;
    }

    .blog-item img {
        width: 100%;
    }

    .blog-item div {
        margin: -2em 2em 2em 2em;
        width: fit-content;
    }

    .blog-item div a {
        float: none;
        display: block;
        width: fit-content;
    }

    .blog-item div p {
        -webkit-line-clamp: 3;
    }
}

/* === Client Blogs-list page === */


@media screen and (max-width: 768px) {


    /* subscribe to newsletter */
    .newsletter-box {
        display: block;
    }

    input.emailbox {
        padding: 15px;
    }

    .newsletter .newsletter-box button {
        width: fit-content;
        margin: 8px 0;
    }

    /* create new blog */
    .label-input-field,
    .input-field,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* read blog page */
.full-blog {
    margin: 10px;
    padding: 10px;
}

h4 {
    padding: 10px 0;
    border-bottom: 3px solid;
    width: fit-content;
}

.full-blog p {
    padding: 10px;
}

.full-blog h4 {
    position: absolute;
    padding: 1em;
    margin: 0 10px 20px 0;
    background: #373636;
    color: white;
}

.full-blog,
.full-blog {
    width: 100% !important;
}

.full-blog button {
    float: right;
    padding: 10px;
}

hr {
    margin: 0;
}

.comment-block div {
    background: #f5f5f7;
    padding: 10px;
    margin: 4em 0;
}

.comment-block div button {
    float: initial;
    padding: 5px;
    font-weight: bold;
}

.more-blogs {
    float: right;
    padding: 10px;
    text-decoration: underline;
    text-transform: none;
}

/* === create new blog === */

#output_image {
    width: 100%;
    border: 4px solid #3f424000;
    border-radius: 2px;
    box-shadow: -1px 1px 11px 0px rgb(140 137 137 / 32%);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFFFFF;
    border: 1px solid black;
    color: #000000;
}

.body-content {
    height: 250px;
}

.label-input-field {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.input-field {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form-container {
    border-radius: 5px;
    background-color: #f5f5f7;
    padding: 20px;
}

* {
    box-sizing: border-box;
}


/* blogs dash */
.pagination {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0;
}

.pagination li {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active {
    background-color: #000;
}

.pagination li.active a {
    color: white !important;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
}

.blog-container-dash {
    display: flex;
    background: #f5f5f7;
    padding: 10px;
    margin: 20px 10px;
    align-items: center;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
}


.blog-container-dash .blog-description-dash {
    flex: 0.7;
    margin: auto 10px;
}

.blog-description-dash p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-container-dash .blog-edit-btns {
    flex: 0.1;
    display: flex;
}

@media (max-width: 480px) {
    .blog-container-dash .blog-edit-btns {
        flex: 0.1;
        display: block;
    }

}

.blog-edit-btns button {
    padding: 10px;
    margin: 5px;
    border-radius: 0;
    border: 1px solid #434344;
}

a.to-new-blog {
    margin: 10px;
    background: #3d3636;
    padding: 10px;
    border: 1px solid #f5f5f7;
    color: whitesmoke;
    text-decoration: underline;
    display: block;
    width: fit-content;
}